.board-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.board {
  background-color: plum;
}

.board-position {
  fill: brown;
}

.board-piece {
  fill: black;
}

.board-piece--selected {
  fill: magenta;
}
